body{
    background-color: #f9f9f9;
    overflow-y: hidden;
}
#wrapper {
    position: relative; 
    margin: auto;
    border: 1px solid #808080;
    border-radius: 10px;
    background-color: #efefef;
    margin-top: 50px;
    box-shadow: 0 0 15px 3px #6E6E6E;
}
#meter {
    width: 100%; 
    height: 100%;
    transform: rotateX(180deg);
}
.text{
    transform: rotateX(180deg);
    user-select:none;
}
#dividing{
    stroke-dasharray: 1 22.55;
    stroke-linecap: butt;
    stroke-opacity: 1;
    stroke: #808080;
    stroke-dashoffset: 0;
    stroke-width: 15;
    fill:none;
}
#dividing-big{
    stroke-dasharray: 3 101.6;
    stroke-linecap: butt;
    stroke-opacity: 1;
    stroke: #808080;
    stroke-dashoffset: 1.5;
    stroke-width: 70;
    fill:none;
}

.clear{
    clear: both;
}

.control-panel{
    position:relative;
    top:-320px;
    width: calc(100% - 2px);
    height: 100px;
    border: 1px dashed #ccc;

}

.trigger-control{
    border: 1px solid #ccc;
    width: 40px;
    margin: 5px 65px;
    float: left;
}

.trigger-control div{
    text-align: center;
    font-size: 20px;
}

.buttons{
    margin-left: 319px;
}

.buttons .trigger-act{
    padding:7px 5px;
}

.trigger-act{
    float: left;
    padding: 2px 5px;
    cursor:pointer;
    user-select:none;
}

.trigger-act:hover{
    transform: scale(1.15, 1.15);
}

#setLimit-value{
    width: 100% ;
    color: #808080;
    font-weight: bold;
    float: left;
    user-select:none;
}

svg path:hover {
    transform: translate(-10px,-10px);
    filter: url(#dropShadow);
    transition: transform .1s;
}

.rivet{
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    border-radius: 50%;
    margin: 10px;
    background: radial-gradient(farthest-side ellipse at top left, white, #aaaaaa);
    box-shadow: 5px 3px 20px rgba(62,62,62,0.3), -5px -10px 20px rgba(255,255,255,0.5);
}

.rever-1{
    top: -814px;
    left: -50px;
}

.rever-2{
    top: -814px;
    left: 430px;
}

.rever-3{
    top: -274px;
    left: -170px;
}

.rever-4{
    top: -274px;
    left: 310px;
}

.measured_value{
    width: 50px;
    position: relative;
    top:-537px;
    left: 190px;
    user-select:none;
}

.measured_value div{
    width: 100%;
    float: left;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
}

.fraction{
    height: 0px;
    border-bottom: 2px solid #808080;
}

.value_title{
    padding: 5px 0px;
    color: #808080;
    text-align: center;
}

.circle{
    fill: none;
    border: 1px solid #808080;
}
.outline, #mask{
    stroke: #F1F1F1; 
    stroke-width: 65;
}

.range{ 
    stroke-width: 60; 
}

#slider, #lbl{
    position: absolute;
}

#slider{
    cursor: pointer;
    left: 0;
    margin: auto;
    right: 0;
    top: 58%;
    width: 94%;
}

#lbl{
    background-color: #4B4C51; 
    border-radius: 2px;
    color: white;   
    font-family: 'courier new';
    font-size: 40px;
    font-weight: bold;
    padding: 4px 4px 2px 4px;
    right: 250px;
    top: 70%;
}

#meter_needle{
    z-index: 10;
    height: 200px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 100px;
    user-select:none;
    transform-origin: bottom center;
    transform: rotate(0deg);
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]:focus{
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track{
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #F6F6F6;
    border-radius: 25px;
    box-shadow: 0 0 0 1px #f6f6f6;
}

input[type=range]::-webkit-slider-thumb{
    box-shadow: 0 0 2px #B2B2B2;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track{
    background: #F6F6F6;

}

input[type=range]::-moz-range-track{
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    background: #F6F6F6;
    border-radius: 25px;
}

input[type=range]::-moz-range-thumb{
    box-shadow: 0 0 2px #B2B2B2;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #fff;
    cursor: pointer;
}

input[type=range]::-ms-track{
    width: 100%;
    height: 12.8px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower{
    background: #F6F6F6;
    border-radius: 50px;
}

input[type=range]::-ms-fill-upper{
    background: #F6F6F6;
    border-radius: 50px;
}

input[type=range]::-ms-thumb {
    height: 30px;
    width: 30px;
    top: 5px;
    position: relative;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 2px #B2B2B2;
}

input[type=range]:focus::-ms-fill-lower {
    background: #F6F6F6;
}

input[type=range]:focus::-ms-fill-upper {
    background: #F6F6F6;
}

.settings{
    display:none;
    z-index: 10;
    position: relative;
    top: -601px;
    width: 600px;
    height: 600px;
    background-color: #efefef;
    margin: 0 auto;
    border: 1px solid #808080;
    border-radius: 10px;
    transition-duration: 0.8s;
}

.settings-param{
    margin: 0 auto;
    float: left;
    width:100%;
    border-bottom:1px solid #808080;
    padding: 25px 0px;
    position: absolute;
}

.settings-param-small{
    padding: 20px 0px;
}

.settings-param-value{
    width: 50%;
    float: left;
    text-align: center;
    user-select: none;
}

.settings-param-title{
    width: calc(50% - 20px);
    float: left;
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 3px;
    user-select: none;
}

.settings-control{
    margin: 0 auto;
    float: left;
    width:100%;
    border-top:1px solid #808080;
    position: absolute;
    bottom: 0px;
    user-select: none;
}

.settings-control-action{
    float: left;
    border: 1px solid #888;
    width:120px;
    background-color: #ccc;
    text-align: center;
    padding: 10px 15px;
    margin: 10px 24px;
    cursor: pointer;
    transition-duration: 0.4s;
    color:#f9f9f9;
    letter-spacing: 1px;
    font-weight: 600;
}

.settings-control-action:hover{
    background-color: #888!important;
}

#default-button{
    background-color: #ccc;
}

#save-button{
    background-color: #6bbf6e;
}

#exit-button{
    background-color: #E04644;
}

.clear{
    clear: both;
    float: none!important;
    padding: 0px!important;
}

.update-button{
    width: 50%;
    margin-left: 25%;
    padding-left: 10px;
    border: 1px solid #ccc;
    background-color: #6bbf6e;
    text-align: center;
    color: #f9f9f9;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.4s;
}

.update-button:hover{
    background-color: #4CAF50;
}

.update-button div{
    float: left;
    padding: 10px 5px;
}

.update-img{
    padding: 5px 0px!important;
}

.update-label{
    margin-right: 10px;
}

.background-curtain{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #808080;
}

.update-window{
    z-index: 11;
    margin: 0 auto;
    position: relative;
    top:-950px;
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
    display: none;
}

.uptade-preloader{
    margin: 10px;
    display: none;
}

.update-status{
    margin: 10px;
    text-align: center;
}

.confirm-update{
    margin-top: 20px;
    margin-bottom: 5px;
}

.confirm-variant{
    float: left;
    padding: 5px 10px;
    margin: 0px 25px;
    width:80px;
    cursor: pointer;
    color: #f0f0f0;
}

.update-final{
    padding: 5px 10px;
    margin: 0 auto;
    width:80px;
    width:80px;
    cursor: pointer;
}

#confirm-no{
    background-color: #E04644;
}

#confirm-yes{
    background-color: #6bbf6e;
}

#confirm-ok{
    background-color: #ccc;
    display: none;
}

.scale-button:hover{
    transition-duration: 0.4s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.act-button-settings{
    width: 600px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    opacity: 0.5;
    padding: 10px 0px;
    cursor: pointer;
    user-select: none;
}

.minimize-button{
    top: -600px;
    display:none;
}

.act-button-settings:hover{
    transition-duration: 0.4s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}

.maximize-button{
    top: -151px;
    display:none;
}

.maximize-button img{
    transform: rotate(180deg);
}